.sidebar{
    width: 76px;
    justify-content: space-between;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    color: black;
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    justify-content: center;
    height: 80px;
    background-color: white;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(234, 234, 234);
}
.sidebar-icon{
    width: 24px;
}
.sidebar-label{
    font-size: 10px;
    font-weight: 400;
}